/* --------------------------------------------------------------------------------------------------------------------------- */
/* FOR ALL VIEWS: */

.appTitleBar {
    -fx-background-color: #111424;
    -fx-padding: 25;
}

.appTitleBarTitle {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.leftSideBar {
    -fx-background-color: #2E3A59;
    -fx-fit-to-height: true;
    -fx-min-width: 300;
    -fx-pref-width: 300;
    -fx-padding: 0 0 0 20;
}

.leftSideBarTop {
    -fx-padding: 0 0 0 20;
    -fx-spacing: 5;
}

.leftSideBarBottom {
    -fx-padding: 0 0 0 20;
    -fx-spacing: 10;
}

.teacherLabel {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.teacherEmailLabel {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: 500;
    -fx-font-size: 14;
}

.logoutButton {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-color: transparent;
}

.logoutButton:hover {
    -fx-text-fill: #4a658f;
}

.homeButton {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-color: transparent;
}

.homeButton:hover {
    -fx-text-fill: #4a658f;
}

.titleBar {
    -fx-background-color: #829CC2;
    -fx-alignment: top-center;
    -fx-fit-to-width: true;
    -fx-padding: 15 0 15 0;
}

.viewTitle {
    -fx-text-fill: #111424;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.center {
    -fx-background-color: #ffffff;
}

.checkColumns {
    -fx-padding: 20;
    -fx-fit-to-width: true;
    -fx-alignment: top-center;
}

.goBackButton {
    -fx-background-color: transparent;
    -fx-border-color: #111424;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: #111424;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-border-radius: 8;
}

.goBackButton:hover {
    -fx-background-color: #2E3A59;
    -fx-border-color: #2E3A59;
    -fx-text-fill: #e5ecf6;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.checkDateLabel {
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

.checkTimeLabel {
    -fx-font-size: 22;
    -fx-font-weight: 700;
}

.attCheckLabel {
    -fx-padding: 10;
    -fx-font-size: 18;
    -fx-font-weight: 500;
}

.attendancePercentageLabel {
    -fx-border-radius: 8;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #e5ecf6;
}

.attendancePercentageOval {
    -fx-fill: #111424;
}

.checkStudentsBox {
    -fx-alignment: top-center;
    -fx-padding: 10 10 10 20;
    -fx-border-color: #2E3A59;
    -fx-border-width: 0 0 0 3;
    -fx-border-style: none none none solid;
}

.studentsLabel {
    -fx-text-alignment: center;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 20 0;
}

.studentListBox {
    -fx-fit-to-width: true;
    -fx-background-color: transparent;
}

.studentListBox .viewport {
    -fx-background-color: transparent;
}

.studentsList {
    -fx-border-color: #4a658f;
    -fx-padding: 10 15;
    -fx-background-color: #ffffff;
}

.studentItem {
    -fx-fit-to-width: true;
    -fx-border-color: #4a658f;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.studentItem:hover {
    -fx-background-color: #e7eaf1;
}

.studentInfo {
    -fx-padding: 5;
    -fx-alignment: center-left;
}

.studentName {
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-padding: 5 10;
    -fx-alignment: center-left;
}

.idLabel {
    -fx-font-weight: 500;
}

.absenceButton {
    -fx-background-color: transparent;
    -fx-font-size: 16;
}

.absent {
    -fx-background-color: transparent;
    -fx-text-fill: #2E3A59;
    -fx-font-weight: bold;
}

.absent:hover {
    -fx-text-fill: #4a658f;
}

.excused {
    -fx-text-fill: #829CC2;
    -fx-font-weight: 500;
}

.excused:hover {
    -fx-text-fill: #4a658f;
}

.absenceButton:disabled {
    -fx-opacity: 0;
}

.notesButton {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #4a658f;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.notesButton:hover {
    -fx-text-fill: #2E3A59;
}

.noteBox {
    -fx-padding: 8;
    -fx-fit-to-width: true;
}

.noteArea {
    -fx-fit-to-width: true;
    -fx-max-height: 50;
    -fx-pref-height: 50;
    -fx-border-color: #829CC2;
    -fx-border-radius: 5;
}

.noteArea:focused {
    -fx-effect: dropshadow(
            gaussian,
            rgba(128, 179, 255, 0.6),
            5,
            0.2,
            0,
            0
    );
}

.hidden {
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.statusCheckBox {
    -fx-border-color: #2E3A59;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.statusCheckBox .box {
    -fx-padding: 5;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.statusCheckBox .mark {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}

.statusCheckBox:selected {
    -fx-background-color: #2E3A59;
}