/* --------------------------------------------------------------------------------------------------------------------------- */
/* FOR ALL VIEWS: */

.appTitleBar {
    -fx-background-color: #111424;
    -fx-padding: 25;
}

.appTitleBarTitle {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.leftSideBar {
    -fx-background-color: #2E3A59;
    -fx-fit-to-height: true;
    -fx-min-width: 300;
    -fx-pref-width: 300;
    -fx-padding: 0 0 0 20;
}

.leftSideBarTop {
    -fx-padding: 0 0 0 20;
    -fx-spacing: 5;
}

.leftSideBarBottom {
    -fx-padding: 0 0 0 20;
    -fx-spacing: 10;
}

.teacherLabel {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.teacherEmailLabel {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: 500;
    -fx-font-size: 14;
}

.logoutButton {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-color: none;
}

.logoutButton:hover {
    -fx-text-fill: #4a658f;
}

.homeButton {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-color: none;
}

.homeButton:hover {
    -fx-text-fill: #4a658f;
}

.titleBar {
    -fx-background-color: #829CC2;
    -fx-alignment: top-center;
    -fx-fit-to-width: true;
    -fx-padding: 15 0 15 0;
}

.viewTitle {
    -fx-text-fill: #111424;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.courseColumns {
    -fx-padding: 20;
}

.courseInfoBox {
    -fx-fit-to-width: true;
    -fx-alignment: top-center;
}

.goBackButton {
    -fx-background-color: none;
    -fx-border-color: #111424;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: #111424;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-border-radius: 8;
}

.goBackButton:hover {
    -fx-background-color: #2E3A59;
    -fx-border-color: #2E3A59;
    -fx-text-fill: #e5ecf6;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.courseNameLabel {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.courseIdentLabel {
    -fx-font-size: 16;
    -fx-font-weight: 500;
    -fx-padding: 4 0 30 0;
}

.attendancePercentageLabel {
    -fx-border-radius: 8;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #e5ecf6;
}

.attendancePercentageOval {
    -fx-fill: #111424;
}

.courseReportBtn {
    -fx-background-color: #2E3A59;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: #e5ecf6;
    -fx-text-alignment: center;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.courseReportBtn:hover {
    -fx-background-color: #4a658f;
}

.attendanceChecksLabel {
    -fx-text-alignment: center;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 20 0;
}

.studentsButton {
    -fx-background-color: #111424;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: #e5ecf6;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.studentsButton:hover {
    -fx-background-color: #4a658f;
}

.attendanceCheckItem {
    -fx-fit-to-width: true;
    -fx-border-color: #829CC2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
}

.attendanceCheckSelector {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.attendanceCheckSelector:hover {
    -fx-background-color: #d0d5e4;
}

.dateAndTime {
    -fx-alignment: center;
    -fx-padding: 0 20 0 0;
    -fx-font-size: 14;
    -fx-font-weight: 800;
}

.attendanceCheckPercentageBox {
    -fx-background-color: #2E3A59;
    -fx-border-color: #2E3A59;
    -fx-padding: 15 10;
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}

.attendanceCheckPercentage {
    -fx-text-fill: #e5ecf6;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.deleteCheckButton {
    -fx-background-color: #111424;
    -fx-text-fill: #e5ecf6;
    -fx-padding: 15 20;
    -fx-font-weight: 700;
    -fx-font-size: 14;
    -fx-border-color: #111424;
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 0 5 5 0;
}