/* LOGIN VIEW STYLE */

#loginTitle {
    -fx-text-fill: #e5ecf6;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

#loginTitleBox {
    -fx-background-color: #111424;
    -fx-alignment: center;
    -fx-padding: 60
}

#loginBox {
    -fx-alignment: center;
    -fx-padding: 20
}

#loginLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.loginFieldLabel {
    -fx-pref-width: 300;
    -fx-max-width: 400;
    -fx-text-alignment: left;
    -fx-font-size: 14;
}

.loginTextField {
    -fx-pref-width: 300;
    -fx-max-width: 400;
    -fx-padding: 5;
    -fx-border-color: #2E3A59;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

.loginTextField:focused {
    -fx-border-color: #4a658f;
    -fx-effect: dropshadow(
            gaussian,
            rgba(128, 179, 255, 0.6),
            10,
            0.5,
            0,
            0
    );
}

#loginButton {
    -fx-background-color: #4a658f;
    -fx-text-fill: #e5ecf6;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 7 20 7 20;
    -fx-background-radius: 5;
}

#loginButton:hover {
    -fx-background-color: #2E3A59;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* FOR ALL VIEWS: */

.appTitleBar {
    -fx-background-color: #111424;
    -fx-padding: 25;
}

.appTitleBarTitle {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.leftSideBar {
    -fx-background-color: #2E3A59;
    -fx-min-height: 650;
    -fx-min-width: 300;
    -fx-pref-width: 300;
    -fx-padding: 0 0 0 20;
}

.leftSideBarTop {
    -fx-padding: 0 0 0 20;
    -fx-spacing: 5;
}

.leftSideBarBottom {
    -fx-padding: 0 0 0 20;
    -fx-spacing: 10;
}

.teacherLabel {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.teacherEmailLabel {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: 500;
    -fx-font-size: 14;
}

.logoutButton {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-color: none;
}

.logoutButton:hover {
    -fx-text-fill: #4a658f;
}

.homeButton {
    -fx-text-fill: #e5ecf6;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-color: none;
}

.homeButton:hover {
    -fx-text-fill: #4a658f;
}

.centerTitleBar {
    -fx-background-color: #829CC2;
    -fx-alignment: center;
    -fx-padding: 15 0 15 0;
}

.viewTitle {
    -fx-text-fill: #111424;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}